services:
  db:
    image: postgres:latest
    container_name: postgres_container
    ports:
    - '5432:5432'
    restart: always
    env_file:
    - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 1s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db

  cache:
    image: redis:alpine 
    container_name: redis_container
    ports:
      - '6379:6379'
    restart: always
    env_file:
      - .env
    environment:
      REDIS_ADDR: ${REDIS_ADDR}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 5s
      retries: 5

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight_container
    ports:
      - "5540:5540"
    restart: always
    volumes:
      - redisinsight_data:/data
    depends_on:
      - cache

  app:
    build: .
    container_name: golang_cointainer
    environment:
      - DB_HOST=db
      - REDIS_ADDR=cache:6379
    env_file:
      - .env
    ports:
      - 8080:8080
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy

volumes:
  redisinsight_data:
