name: Modern Pokedex
run-name: Deploy ${{ github.ref_name }}

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/deploy.yml'
      - 'cmd/**'
      - 'internal/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - 'README.md'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/deploy.yml'
      - 'cmd/**'
      - 'internal/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - 'README.md'
      - 'go.mod'
      - 'go.sum'

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache: false
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: lint

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: user
          POSTGRES_DB: mydb
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      - name: Build
        run: go build -v -o modernPokedex ./cmd/api
      - name: Test
        env:
          POSTGRES_HOST: localhost
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: mydb
          POSTGRES_PORT: 5432
        run: go test -v ./tests/...
