name: Modern Pokedex
run-name: Deploy ${{ github.ref_name }}

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/deploy.yml'
      - 'cmd/**'
      - 'internal/**'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - 'README.md'
      - 'go.mod'
      - 'go.sum'

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache: false
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
